# test only: same includes as production, served over http without certificates
server {
  listen 80 default_server;
  server_name ${DOMAIN};
  include /etc/nginx/includes/proxy.conf;
  include /etc/nginx/includes/locations.conf;
  location /mails/ { set $upstream http://maildev:1080; proxy_pass $upstream; }
}
server {
  listen 80;
  server_name *.portal.${DOMAIN};
  include /etc/nginx/includes/proxy.conf;
  include /etc/nginx/includes/portal-locations.conf;
}
